<div class="card shadow-effect d-flex justify-content-center align-items-center">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>
                SUBSCRIPTION FORM
            </h3>
            <p class="m-auto subs-text">
                The social classes of the middle ages consisted of the upper, middle, and lower classes. Within the
                upper class were kings/monarchs, nobles, knights, and clergy. In the middle were merchants, doctors, and
                lower clergy. The lower class consisted of peasants/serfs.
            </p>
            <form action="" class="form-inline mb-5 mt-5 justify-content-center text-center">
                <div class="d-flex align-items-center">
                    <div class="form-group">
                        <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info btn-block btn-sub shadow-effect">
                            SUBSCRIBE
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>