<header>
    <div class="px-0 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/"
                    class="d-flex align-items-center my-md-1 my-lg-1 me-lg-auto text-white text-decoration-none">
                    <i class="bi bi-linkedin"></i>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-smaller">
                    <li>
                        <a href="/" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1 icon-large" width="32" height="32">
                                <i class="bi bi-house-door"></i>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-secondary text-center">
                            <svg class="bi d-block mx-auto mb-1 icon-large" width="32" height="32">
                                <i class="bi bi-journal-bookmark"></i>
                            </svg>
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-secondary text-center">
                            <svg class="bi d-block mx-auto mb-1 icon-large" width="32" height="32">
                                <i class="bi bi-messenger"></i><br>
                            </svg>
                            Message
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-secondary text-center">
                            <svg class="bi d-block mx-auto mb-1 icon-large" width="32" height="32">
                                <i class="bi bi-bell"></i><br>
                            </svg>
                            Notification
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search" method="post" action="/search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-light text-dark me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </div>
    </div>
</header>