<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow bg-secondary-theme">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="text-primary mb-4">Login</h3>
                        <p class="text-muted">Please login to your account to post a new blog post</p>
                    </div>
                    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                        <div class="form-group" [ngClass]="{
                            'has-danger': formLogin.get('UserMail')?.touched && formLogin.get('UserMail')?.invalid,
                            'has-success': formLogin.get('UserMail')?.valid
                        }">
                            <input type="email" class="form-control" name="UserMail" formControlName="UserMail"
                                id="UserMail" placeholder="Email Address">
                            <div
                                *ngIf="formLogin && formLogin.get('UserMail')?.invalid && (formLogin.get('UserMail')?.dirty || formLogin.get('UserMail')?.touched)">
                                <div *ngIf="formLogin.get('UserMail')?.errors?.['required']"
                                    class="form-control-feedback">
                                    Email cannot be empty!
                                </div>
                                <div *ngIf="formLogin.get('UserMail')?.errors?.['UserMail']"
                                    class="form-control-feedback">
                                    Please enter a valid email address!
                                </div>
                            </div>
                        </div>


                        <div class="form-group" [ngClass]="{
                            'has-danger': formLogin.get('UserPassword')?.touched && formLogin.get('UserPassword')?.invalid,
                            'has-success': formLogin.get('UserPassword')?.valid
                        }">
                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="UserPassword" name="UserPassword" id="UserPassword"
                                [ngClass]="{'is-invalid': formLogin.get('UserPassword')?.touched && formLogin.get('UserPassword')?.invalid}">

                            <div
                                *ngIf="formLogin.get('UserPassword')?.invalid && (formLogin.get('UserPassword')?.dirty || formLogin.get('UserPassword')?.touched)">
                                <div *ngIf="formLogin && formLogin.get('UserPassword')?.errors?.required"
                                    class="form-control-feedback">
                                    Password
                                    cannot be empty!</div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary btn-block"
                            [disabled]='!formLogin || formLogin.get("UserPassword")?.invalid || !(formLogin.get("UserPassword")?.dirty || formLogin.get("UserPassword")?.touched)'>Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>