<div class="card" *ngIf="post">
    <img [src]="post.image" alt="post-image" class="card-img-top">
    <div class="card-body row">
        <small class="bg-light text-danger text-center col-md-4">{{post.Category}}</small>
        <small class="bg-light text-success text-center col-md-4">Featured</small>
        <small class="bg-light text-info text-center col-md-4">Views - 100</small>

        <h3 class="mt-1">{{post.title}}</h3>
        <p>{{ limitText(post.excerpt, 50) }}</p>
        <small class="bg-light text-warning text-center mr-3">LAST UPDATED - {{post.updatedAt | date:'dd/MM/yyyy'
            }}</small>
    </div>
</div>