<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow bg-secondary-theme">
                <div class="card-body justify-content-center">
                    <div class="text-center">
                        <h3 class="text-primary">Signup</h3>
                        <p class="text-muted">Please signup to your account to post a new blog post</p>
                    </div>
                    <form [formGroup]="FormSignup" (ngSubmit)="onSubmit()">
                        <div class="form-group" [ngClass]="{
                            'has-danger': FormSignup.get('UserMail')?.touched && FormSignup.get('UserMail')?.invalid,
                            'has-success': FormSignup.get('UserMail')?.valid
                        }">
                            <input type="email" class="form-control" name="UserMail" formControlName="UserMail"
                                id="UserMail" placeholder="Email Address">
                            <div
                                *ngIf="FormSignup && FormSignup.get('UserMail')?.invalid && (FormSignup.get('UserMail')?.dirty || FormSignup.get('UserMail')?.touched)">
                                <div *ngIf="FormSignup.get('UserMail')?.errors?.['required']"
                                    class="form-control-feedback">
                                    Email cannot be empty!
                                </div>
                                <div *ngIf="FormSignup.get('UserMail')?.errors?.['UserMail']"
                                    class="form-control-feedback">
                                    Please enter a valid email address!
                                </div>
                            </div>
                        </div>


                        <div class="form-group" [ngClass]="{
                            'has-danger': FormSignup.get('UserPassword')?.touched && FormSignup.get('UserPassword')?.invalid,
                            'has-success': FormSignup.get('UserPassword')?.valid
                        }">
                            <input type="password" class="form-control" placeholder="Password"
                                formControlName="UserPassword" name="UserPassword" id="UserPassword"
                                [ngClass]="{'is-invalid': FormSignup.get('UserPassword')?.touched && FormSignup.get('UserPassword')?.invalid}">

                            <div
                                *ngIf="FormSignup.get('UserPassword')?.invalid && (FormSignup.get('UserPassword')?.dirty || FormSignup.get('UserPassword')?.touched)">
                                <div *ngIf="FormSignup && FormSignup.get('UserPassword')?.errors?.required"
                                    class="form-control-feedback">
                                    Password
                                    cannot be empty!</div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary btn-block justify-content-center"
                            [disabled]='!FormSignup || FormSignup.get("UserPassword")?.invalid || !(FormSignup.get("UserPassword")?.dirty || FormSignup.get("UserPassword")?.touched)'>Signup</button>
                        <div class="text-center signup-button">
                            <h5 class="mb-4">Have an Account?<p class="text-primary login-button" routerLink="/login">
                                    Login</p>
                            </h5>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>