<div class="container">
    <div class="row">
        <div class="col-md- text-center">
            <h3 class="text-theme-primary">Add New Post</h3>
            <p class="mb-5">You can Add your new Post</p>
        </div>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="formPost">
        <div class="row">
            <div class="col-md-7 mb-5">
                <div class="card shadow-effect">
                    <div class="card-body form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" (input)="onTitleChange($event)" formControlName='title'>
                        <div *ngIf="formPost.get('title')?.errors?.required && formPost.get('title')?.touched"
                            class="alert alert-danger">
                            Title is required
                        </div>
                        <div *ngIf="formPost.get('title')?.errors?.minlength && formPost.get('title')?.touched"
                            class="alert alert-danger">
                            Title must be at least 10 characters long
                        </div>

                    </div>
                    <div class=" card-body form-group">
                        <label for="permalink">PermalLink</label>
                        <input type="text" class="form-control" formControlName='permalink' name="permalink"
                            [value]="permalink">
                        <div *ngIf="formPost.get('permalink')?.errors?.required && formPost.get('permalink')?.touched"
                            class="alert alert-danger">
                            PermalLink is required
                        </div>
                        <div *ngIf="formPost.get('permalink')?.errors?.minlength && formPost.get('permalink')?.touched"
                            class="alert alert-danger">
                            Permalink must be at least 10 characters long
                        </div>

                    </div>
                    <div class="card-body form-group">
                        <label>Excerpt</label>
                        <textarea cols="30" rows="10" class="form-control" formControlName='excerpt' name="excerpt">
                        </textarea>
                        <div *ngIf="formPost.get('excerpt')?.errors?.required && formPost.get('excerpt')?.touched"
                            class="alert alert-danger">
                            Excerpt is required
                        </div>
                        <div *ngIf="formPost.get('excerpt')?.errors?.minlength && formPost.get('excerpt')?.touched"
                            class="alert alert-danger">
                            Excerpt must be at least 100 characters long
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5 card shadow-effect pb-5">
                <div class="form-group ">
                    <label for="">Select a post category</label>
                    <select class="form-control" formControlName='category' name="category">
                        <option value="" disabled>Please select a category</option>
                        <option *ngFor="let category of categories">{{category.Name}}</option>
                    </select>
                    <div *ngIf="formPost.get('category')?.errors?.required" class="alert alert-danger">
                        Category is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Post Image</label>
                    <img [src]="imgSrc" class="form-control img-fluid  img-preview ">
                    <input type="file" name="image" class="form-control" formControlName="image" accept="image/*"
                        (change)="showPreview($event)">
                    <div *ngIf="formPost.get('image')?.errors?.required" class="alert alert-danger">
                        Image is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-md-12">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Content</label>
                            <angular-editor [placeholder]="'Enter text here...'" formControlName="Content"
                                name="content"></angular-editor>
                            <div *ngIf="formPost.get('Content')?.errors?.required" class="alert alert-danger">
                                Content must be at least 100 characters long
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mb-5">
                <button class="btn btn-info bg-theme">Save Post</button>
                <button class="btn btn-warning bl-3" routerLink="/dashboard/post">Back to Post</button>
            </div>
        </div>
    </form>
</div>