<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/938165/pexels-photo-938165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="card-img-top img-fluid">
                <div class="card-body row">
                    <small class="bg-light text-danger text-center col-md-2">Design</small>
                    <small class="bg-light text-success text-center col-md-2">Featured</small>
                    <small class="bg-light text-info text-center col-md-3">Views - 100,296</small>
                    <small class="bg-light text-warning text-center col-md-4">LAST UPDATED - April 1, 2024</small>

                    <h1 class="mt-3 mb-3">Middle Ages</h1>
                    <p>In the history of Europe, the Middle Ages or medieval period lasted approximately from 500 AD to
                        1500, although some prefer other start and end dates. The Middle Ages is the second of the three
                        traditional divisions of Western history: antiquity, medieval, and modern.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 post-card">
            <app-post-card></app-post-card>
        </div>
        <app-comments-form></app-comments-form>
        <app-comments-list></app-comments-list>
    </div>
</div>